@model List<ComicCorner.Models.Category>
@{
    ViewBag.Title = "List";
}

<h2>List of Categories</h2>
<form method="GET" action="/Category/List">
    <!--GET -->
    <input type="text" id="CategorySearchKey" name="CategorySearchKey" />
    <input type="submit" value="Search" />
</form>
<div class="flexbox">
    

    <div class="content">
        @{
            foreach (var Category in Model)
            {
                <div class="flexbox">
                            <div class="picture">
                                @{
                                    if (Category.HasPic == 1)
                                    {
                                        <img id="categorypicture" src="../../Content/Categories/@(Category.CategoryId).@(Category.PicExtension)" alt="Image of @Category.CategoryName" />
                                    }
                                }
                            </div>
                    <div class="detail">
                        <div><a href="/Category/Show/@Category.CategoryId">@Category.CategoryName</a></div>
                        <div>@Category.CategoryDesc</div>
                        <div><a href="/Category/Update/@Category.CategoryId">Update the category</a></div>
                    </div>
                </div>
                
            }
        }
    </div>
</div>

<a href="/Category/Add">Add a category</a>