@model List<ComicCorner.Models.Comic>
@{
    ViewBag.Title = "List";
}

<h2>List of Comics</h2>
<form method="GET" action="/Comic/List">
    <!--GET -->
    <input type="text" id="ComicSearchKey" name="ComicSearchKey" />
    <input type="submit" value="Search" />
</form>

    <div class="content">
        @{
            foreach (var Comic in Model)
            {
                <div class="flexbox">
                    <div class="picture">
                        @{
                            if (Comic.HasPic == 1)
                            {
                                <img src="../../Content/Comics/@(Comic.ComicId).@(Comic.PicExtension)" alt="Image of @Comic.ComicName" />
                            }
                        }
                    </div>
                    <div class="detail">
                        <div><a href="/Comic/Show/@Comic.ComicId">@Comic.ComicName</a></div>
                        <div>Description: @Comic.ComicDesc</div>
                        <div><a href="/Comic/Update/@Comic.ComicId">Update the comic</a></div>
                    </div>                    
                </div>
                
            }
        }
    </div>

<a href="/Comic/Add">Add a comic</a>



