@model ComicCorner.Models.Customer

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.CustomerName</h2>
<form method="Post" action="/Customer/DeleteConfirm/@Model.CustomerId">
    <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
    <input type="submit" value="Yes" />
    <a href="/Customer/List">No, go back to list</a>
</form>
